:root {
  --md-primary-fg-color: hsl(208deg 59% 22%);
  --md-primary-fg-color--light: hsl(205deg 38% 44%);
  --md-primary-fg-color--dark: hsl(215deg 70% 15%);

  --md-accent-fg-color: hsl(24deg 89% 54%);
  --md-accent-fg-color--transparent: rgba(242, 116, 32, 0.16);
}

[data-md-color-scheme="slate"] {
    --md-default-bg-color: hsl(208deg 58% 8%);

    --md-primary-fg-color: hsl(24deg 89% 54%);
    --md-primary-fg-color--light: hsl(24deg 89% 76%);
    --md-primary-fg-color--dark: hsl(215deg 70% 32%);

    --md-accent-fg-color: hsl(208deg 59% 55%);
    --md-accent-fg-color--transparent: rgb(73, 145, 208, 0.16);
}


.md-typeset :is(.admonition,details):is(.example) {
    border-color: rgb(6 78 133);
}
.md-typeset .example > :is(.admonition-title,summary) {
    background-color: rgb(6, 78, 133, 0.1);
}
.md-typeset .example > :is(.admonition-title,summary)::before,
.md-typeset .example > :is(.admonition-title,summary)::after {
    background-color: rgb(6 78 133);
}

.md-typeset .example > :is(.admonition-title,summary)::before {
    -webkit-mask-image: var(--md-admonition-icon--example);
    mask-image: var(--md-admonition-icon--example);
}

.md-header {
  background-color: hsl(208deg 59% 22%);
}

.md-content a {
	font-weight: bolder;
}

.git-repo-lockup {
	vertical-align: middle;
	font-size: 0.9rem;
	float: right;
	border: thin solid currentColor;
	padding: 4px 8px 4px 8px;
  border-radius: 4px;
}

.git-repo-lockup .twemoji {
  margin-left: 8px;
}